doctype html
html
  head
    title Mi Aplicación
  body
  
    h1 Mi Aplicación
    h2 Datos existentes
    

    ul

      each dato in datos 
       
        li
          span= dato.columna1
          
          a(href=`/editar/${dato.id}`) Editar
          a(href=`/eliminar/${dato.id}`) Eliminar
    h2 Agregar nuevo dato
    
    form(action="/" method="POST")
      input(type="text" name="columna1" placeholder="Columna 1")
      input(type="text" name="columna2" placeholder="Columna 2")
      input(type="text" name="columna3" placeholder="Columna 3")
      
      button(type="submit") Agregar
